configuracion_sistema.json
[{"id": "SITIO_01", "type": "ui_base", "theme": {"name": "theme-light", "lightTheme": {"default": "#0094CE", "baseColor": "#27aee3", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": true, "reset": false}, "darkTheme": {"default": "#097479", "baseColor": "#097479", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": true, "reset": false}, "customTheme": {"name": "Untitled Theme 1", "default": "#4B7930", "baseColor": "#4B7930", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}, "themeState": {"base-color": {"default": "#0094CE", "value": "#27aee3", "edited": true}, "page-titlebar-backgroundColor": {"value": "#27aee3", "edited": false}, "page-backgroundColor": {"value": "#fafafa", "edited": false}, "page-sidebar-backgroundColor": {"value": "#ffffff", "edited": false}, "group-textColor": {"value": "#000000", "edited": false}, "group-borderColor": {"value": "#ffffff", "edited": false}, "group-backgroundColor": {"value": "#ffffff", "edited": false}, "widget-textColor": {"value": "#111111", "edited": false}, "widget-backgroundColor": {"value": "#27aee3", "edited": false}, "widget-borderColor": {"value": "#ffffff", "edited": false}, "base-font": {"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}, "angularTheme": {"primary": "indigo", "accents": "blue", "warn": "red", "background": "grey"}}, "site": {"name": "Seguimiento sensores CO2-SIT", "hideToolbar": "false", "allowSwipe": "false", "lockMenu": "false", "allowTempTheme": "true", "dateFormat": "DD/MM/YYYY", "sizes": {"sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0}}}, {"id": "APLI_01", "type": "tab", "label": "Seguimiento sensores CO2-FLOW", "disabled": false, "info": ""}, {"id": "BROKER_01", "type": "mqtt-broker", "z": "", "name": "BROKER-MQTT", "broker": "192.168.1.131", "port": "1883", "clientid": "", "usetls": false, "compatmode": false, "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthPayload": "", "closeTopic": "", "closeQos": "0", "closePayload": "", "willTopic": "", "willQos": "0", "willPayload": ""}, {"id": "TAB_01", "type": "ui_tab", "name": "Panel de control", "icon": "wi-darksky-wind", "disabled": false, "hidden": false}, {"id": "SALA_01", "type": "ui_group", "z": "", "name": "Claustro", "tab": "TAB_01", "order": 1, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_01_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Claustro", "topic": "CLAUST", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 75, "wires": [["SALA_01_funcion"]]}, {"id": "SALA_01_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Claustro)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 75, "wires": [["SALA_01_template"]]}, {"id": "SALA_01_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_01", "name": "Template (Claustro)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Claustro{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 75, "wires": [["SALA_01_dial", "SALA_01_grafico"]]}, {"id": "SALA_01_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Claustro)", "group": "SALA_01", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 25, "wires": []}, {"id": "SALA_01_grafico", "type": "ui_chart", "z": "", "name": "grafico (Claustro)", "group": "SALA_01", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 125, "wires": [[]]}, {"id": "SALA_02", "type": "ui_group", "z": "", "name": "Secretar\u00eda", "tab": "TAB_01", "order": 2, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_02_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Secretar\u00eda", "topic": "SECRET", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 225, "wires": [["SALA_02_funcion"]]}, {"id": "SALA_02_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Secretar\u00eda)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 225, "wires": [["SALA_02_template"]]}, {"id": "SALA_02_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_02", "name": "Template (Secretar\u00eda)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Secretar\u00eda{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 225, "wires": [["SALA_02_dial", "SALA_02_grafico"]]}, {"id": "SALA_02_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Secretar\u00eda)", "group": "SALA_02", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 175, "wires": []}, {"id": "SALA_02_grafico", "type": "ui_chart", "z": "", "name": "grafico (Secretar\u00eda)", "group": "SALA_02", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 275, "wires": [[]]}, {"id": "SALA_03", "type": "ui_group", "z": "", "name": "Gimnasio", "tab": "TAB_01", "order": 3, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_03_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Gimnasio", "topic": "GIMNASIO", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 375, "wires": [["SALA_03_funcion"]]}, {"id": "SALA_03_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Gimnasio)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 375, "wires": [["SALA_03_template"]]}, {"id": "SALA_03_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_03", "name": "Template (Gimnasio)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Gimnasio{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 375, "wires": [["SALA_03_dial", "SALA_03_grafico"]]}, {"id": "SALA_03_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Gimnasio)", "group": "SALA_03", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 325, "wires": []}, {"id": "SALA_03_grafico", "type": "ui_chart", "z": "", "name": "grafico (Gimnasio)", "group": "SALA_03", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 425, "wires": [[]]}, {"id": "SALA_04", "type": "ui_group", "z": "", "name": "Comedor", "tab": "TAB_01", "order": 4, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_04_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Comedor", "topic": "COMEDOR", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 525, "wires": [["SALA_04_funcion"]]}, {"id": "SALA_04_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Comedor)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 525, "wires": [["SALA_04_template"]]}, {"id": "SALA_04_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_04", "name": "Template (Comedor)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Comedor{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 525, "wires": [["SALA_04_dial", "SALA_04_grafico"]]}, {"id": "SALA_04_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Comedor)", "group": "SALA_04", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 475, "wires": []}, {"id": "SALA_04_grafico", "type": "ui_chart", "z": "", "name": "grafico (Comedor)", "group": "SALA_04", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 575, "wires": [[]]}, {"id": "SALA_05", "type": "ui_group", "z": "", "name": "Aula-1A", "tab": "TAB_01", "order": 5, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_05_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-1A", "topic": "AULA1A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 675, "wires": [["SALA_05_funcion"]]}, {"id": "SALA_05_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-1A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 675, "wires": [["SALA_05_template"]]}, {"id": "SALA_05_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_05", "name": "Template (Aula-1A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-1A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 675, "wires": [["SALA_05_dial", "SALA_05_grafico"]]}, {"id": "SALA_05_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-1A)", "group": "SALA_05", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 625, "wires": []}, {"id": "SALA_05_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-1A)", "group": "SALA_05", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 725, "wires": [[]]}, {"id": "SALA_06", "type": "ui_group", "z": "", "name": "Aula-1B", "tab": "TAB_01", "order": 6, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_06_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-1B", "topic": "AULA1B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 825, "wires": [["SALA_06_funcion"]]}, {"id": "SALA_06_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-1B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 825, "wires": [["SALA_06_template"]]}, {"id": "SALA_06_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_06", "name": "Template (Aula-1B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-1B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 825, "wires": [["SALA_06_dial", "SALA_06_grafico"]]}, {"id": "SALA_06_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-1B)", "group": "SALA_06", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 775, "wires": []}, {"id": "SALA_06_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-1B)", "group": "SALA_06", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 875, "wires": [[]]}, {"id": "SALA_07", "type": "ui_group", "z": "", "name": "Aula-2A", "tab": "TAB_01", "order": 7, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_07_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-2A", "topic": "AULA2A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 975, "wires": [["SALA_07_funcion"]]}, {"id": "SALA_07_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-2A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 975, "wires": [["SALA_07_template"]]}, {"id": "SALA_07_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_07", "name": "Template (Aula-2A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-2A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 975, "wires": [["SALA_07_dial", "SALA_07_grafico"]]}, {"id": "SALA_07_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-2A)", "group": "SALA_07", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 925, "wires": []}, {"id": "SALA_07_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-2A)", "group": "SALA_07", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1025, "wires": [[]]}, {"id": "SALA_08", "type": "ui_group", "z": "", "name": "Aula-2B", "tab": "TAB_01", "order": 8, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_08_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-2B", "topic": "AULA2B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1125, "wires": [["SALA_08_funcion"]]}, {"id": "SALA_08_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-2B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1125, "wires": [["SALA_08_template"]]}, {"id": "SALA_08_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_08", "name": "Template (Aula-2B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-2B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1125, "wires": [["SALA_08_dial", "SALA_08_grafico"]]}, {"id": "SALA_08_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-2B)", "group": "SALA_08", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1075, "wires": []}, {"id": "SALA_08_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-2B)", "group": "SALA_08", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1175, "wires": [[]]}, {"id": "SALA_09", "type": "ui_group", "z": "", "name": "Aula-3A", "tab": "TAB_01", "order": 9, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_09_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-3A", "topic": "AULA3A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1275, "wires": [["SALA_09_funcion"]]}, {"id": "SALA_09_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-3A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1275, "wires": [["SALA_09_template"]]}, {"id": "SALA_09_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_09", "name": "Template (Aula-3A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-3A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1275, "wires": [["SALA_09_dial", "SALA_09_grafico"]]}, {"id": "SALA_09_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-3A)", "group": "SALA_09", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1225, "wires": []}, {"id": "SALA_09_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-3A)", "group": "SALA_09", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1325, "wires": [[]]}, {"id": "SALA_10", "type": "ui_group", "z": "", "name": "Aula-3B", "tab": "TAB_01", "order": 10, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_10_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-3B", "topic": "AULA3B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1425, "wires": [["SALA_10_funcion"]]}, {"id": "SALA_10_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-3B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1425, "wires": [["SALA_10_template"]]}, {"id": "SALA_10_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_10", "name": "Template (Aula-3B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-3B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1425, "wires": [["SALA_10_dial", "SALA_10_grafico"]]}, {"id": "SALA_10_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-3B)", "group": "SALA_10", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1375, "wires": []}, {"id": "SALA_10_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-3B)", "group": "SALA_10", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1475, "wires": [[]]}, {"id": "SALA_11", "type": "ui_group", "z": "", "name": "Aula-4A", "tab": "TAB_01", "order": 11, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_11_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-4A", "topic": "AULA4A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1575, "wires": [["SALA_11_funcion"]]}, {"id": "SALA_11_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-4A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1575, "wires": [["SALA_11_template"]]}, {"id": "SALA_11_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_11", "name": "Template (Aula-4A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-4A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1575, "wires": [["SALA_11_dial", "SALA_11_grafico"]]}, {"id": "SALA_11_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-4A)", "group": "SALA_11", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1525, "wires": []}, {"id": "SALA_11_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-4A)", "group": "SALA_11", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1625, "wires": [[]]}, {"id": "SALA_12", "type": "ui_group", "z": "", "name": "Aula-4B", "tab": "TAB_01", "order": 12, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_12_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-4B", "topic": "AULA4B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1725, "wires": [["SALA_12_funcion"]]}, {"id": "SALA_12_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-4B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1725, "wires": [["SALA_12_template"]]}, {"id": "SALA_12_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_12", "name": "Template (Aula-4B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-4B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1725, "wires": [["SALA_12_dial", "SALA_12_grafico"]]}, {"id": "SALA_12_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-4B)", "group": "SALA_12", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1675, "wires": []}, {"id": "SALA_12_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-4B)", "group": "SALA_12", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1775, "wires": [[]]}, {"id": "SALA_13", "type": "ui_group", "z": "", "name": "Aula-5A", "tab": "TAB_01", "order": 13, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_13_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-5A", "topic": "AULA5A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 1875, "wires": [["SALA_13_funcion"]]}, {"id": "SALA_13_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-5A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 1875, "wires": [["SALA_13_template"]]}, {"id": "SALA_13_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_13", "name": "Template (Aula-5A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-5A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 1875, "wires": [["SALA_13_dial", "SALA_13_grafico"]]}, {"id": "SALA_13_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-5A)", "group": "SALA_13", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1825, "wires": []}, {"id": "SALA_13_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-5A)", "group": "SALA_13", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 1925, "wires": [[]]}, {"id": "SALA_13", "type": "ui_group", "z": "", "name": "Aula-5B", "tab": "TAB_01", "order": 14, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_13_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-5B", "topic": "AULA5B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 2025, "wires": [["SALA_13_funcion"]]}, {"id": "SALA_13_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-5B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 2025, "wires": [["SALA_13_template"]]}, {"id": "SALA_13_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_13", "name": "Template (Aula-5B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-5B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 2025, "wires": [["SALA_13_dial", "SALA_13_grafico"]]}, {"id": "SALA_13_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-5B)", "group": "SALA_13", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 1975, "wires": []}, {"id": "SALA_13_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-5B)", "group": "SALA_13", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 2075, "wires": [[]]}, {"id": "SALA_15", "type": "ui_group", "z": "", "name": "Aula-6A", "tab": "TAB_01", "order": 15, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_15_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-6A", "topic": "AULA6A", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 2175, "wires": [["SALA_15_funcion"]]}, {"id": "SALA_15_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-6A)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 2175, "wires": [["SALA_15_template"]]}, {"id": "SALA_15_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_15", "name": "Template (Aula-6A)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-6A{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 2175, "wires": [["SALA_15_dial", "SALA_15_grafico"]]}, {"id": "SALA_15_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-6A)", "group": "SALA_15", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 2125, "wires": []}, {"id": "SALA_15_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-6A)", "group": "SALA_15", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 2225, "wires": [[]]}, {"id": "SALA_16", "type": "ui_group", "z": "", "name": "Aula-6B", "tab": "TAB_01", "order": 16, "disp": true, "width": "4", "collapse": false}, {"id": "SALA_16_mqtt", "type": "mqtt in", "z": "TAB_01", "name": "Aula-6B", "topic": "AULA6B", "qos": "2", "datatype": "auto", "broker": "BROKER_01", "x": 150, "y": 2325, "wires": [["SALA_16_funcion"]]}, {"id": "SALA_16_funcion", "type": "function", "z": "TAB_01", "name": "DATOS -> PPM (Aula-6B)", "func": "a=msg.payload[3]\n                b=msg.payload[4]\n                res=a*256+b\n                if (res<=700)\n                    col='#60A917'\n                else if (res>700 && res<=1200)\n                    col='#E3C800'\n                else if(res>1200)\n                    col='#E51400'\n                var newMsg = { payload: res, colorAlerta: col };\n                return newMsg;", "outputs": 1, "noerr": 0, "x": 400, "y": 2325, "wires": [["SALA_16_template"]]}, {"id": "SALA_16_template", "type": "ui_template", "z": "73d7198b.9bd728", "group": "SALA_16", "name": "Template (Aula-6B)", "order": 2, "width": 0, "height": 0, "format": "<style>\n              #Panel_de_control_Aula-6B{\n              text-align: center;\n              background-color: {{msg.colorAlerta}};\n              color: black;\n              }\n              </style>", "storeOutMessages": true, "fwdInMessages": true, "resendOnRefresh": true, "templateScope": "local", "x": 650, "y": 2325, "wires": [["SALA_16_dial", "SALA_16_grafico"]]}, {"id": "SALA_16_dial", "type": "ui_gauge", "z": "", "name": "DIAL (Aula-6B)", "group": "SALA_16", "order": 1, "width": 0, "height": 0, "gtype": "gage", "title": "[CO<sub>2</sub>]", "label": "ppm", "format": "{{value}}", "min": "350", "max": "5000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "700", "seg2": "1200", "x": 900, "y": 2275, "wires": []}, {"id": "SALA_16_grafico", "type": "ui_chart", "z": "", "name": "grafico (Aula-6B)", "group": "SALA_16", "order": 2, "width": 0, "height": 0, "label": "Hist\u00f3rico 1h", "chartType": "line", "legend": "false", "xformat": "HH:mm", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "300", "ymax": "5000", "removeOlder": 1, "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "useUTC": false, "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"], "outputs": 1, "x": 900, "y": 2375, "wires": [[]]}]